.taskName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
}
.actionButtons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 6px;
}