.taskName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
}
.actionButtons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 6px;
}
.taskName input{
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 400;
    outline: none;
}