.container{
    background: linear-gradient(180deg, rgba(185, 159, 196, 0.637)0% , #c39dca 32.29%, rgba(168, 136, 189, 0.933) 69.27%, rgba(192, 140, 199, 0.76) 100% );
    box-shadow: 8px 13px 19px -3px rgba(0, 0, 0, 0.116);
    border-radius: 39px;
    width: 70%;
    padding: 24px 63px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}